<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora maxime, distinctio earum tempore necessitatibus repellendus debitis deleniti incidunt quis, recusandae sint ea fuga, quaerat consequatur dolores minima quod cumque ab.</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptatem aliquid pariatur perspiciatis unde repellendus, nobis voluptatum voluptas veniam necessitatibus fuga neque, labore delectus ipsa vitae facere at veritatis aspernatur.</p>